* {
  color: white;
  font-family: sans-serif;
}
body {
  background-color: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
}
#h_box {
  background-color: rgb(122, 0, 0);
  background-image: url(https://www.pluralsight.com/content/pluralsight/en/jcr:content/main/generic_block_copy_c_1058486430/image-res.img.3716d16d-f7af-4e66-9052-9a1a90108cf3.jpg);
  width: 100%;
  height: 500px;
  margin-top: 85px;
  background-position: center center;
  background-size: cover;
}
#margin {
  background-color: white;
  height: 43px;
  width: 100%;
  margin-top: 80px;
  display: none;
  background-position: center center;
  background-size: cover;
}
#h_box_1 {
  height: 64%;
  width: 43%;
  margin-top: 50px;
  margin-right: 220px;
  background: repeat;
  float: right;
}
#h_box_1_1 {
  height: 25%;
  width: 55%;
  margin-top: 3%;
  cursor: auto;
  font-size: 50px;
  display: block;
  font-weight: bold;

  float: left;
  background: repeat;
  font-family: "Noto Sans JP", sans-serif;
}

#h_box_1_3 {
  height: 25%;
  width: 100%;
  background: repeat;
}
#h_box_1 span {
  height: 25%;
  width: 30%;
  margin-top: 3%;
  cursor: auto;
  font-size: 50px;
  display: block;
  font-weight: bold;
  background: repeat;
  float: left;

  margin-left: 1px;
  font-family: "Noto Sans JP", sans-serif;
}

#h_box_1_2 {
  height: 45%;
  width: 100%;
  margin-top: 3%;
  font-size: 16px;
  font-weight: unset;
  line-height: 1.4;
  background: repeat;
  font-family: sans-serif;
  clear: both;
}
#viewPlans {
  cursor: pointer;
  width: 38%;
  height: 70%;
  font-size: 13px;
  font-weight: bold;
  background-color: #181818;
  border: 0px;
}
#tryFree {
  /* background-color: orange !important; */
  cursor: pointer;
  width: 38%;
  height: 73%;
  font-size: 13px;
  font-weight: bold;
  background: repeat;
  border: 1px white solid;
  margin-left: 10%;
}
#right_nav_bar > button {
  background-color: transparent;
}
#tryFree:hover {
  color: antiquewhite;
  border: 2px white solid;
}
#margin img {
  width: 8%;
  height: 80%;
  margin-top: 4px;
  background-color: white;
  margin-left: 10%;
  float: left;
}
#margin p {
  background-color: rgb(255, 255, 255);
  margin-left: 2%;
  color: black;
  margin-bottom: 4px;
  float: left;
  font-size: 15px;
  height: 20%;
  margin-top: 7px;
  font-size: 15px;
}
#margin > p + p {
  background-color: rgb(255, 255, 255);
  color: #ec008c;
  margin-bottom: 4px;
  margin-left: 2px;
  float: left;
  margin-top: 7px;
  font-size: 15px;
  font-weight: bold;
}
#margin > p + p:hover {
  text-decoration: underline;
}
#nav_bar {
  padding: 26px 0px;
  height: 83px;
  width: 100%;
  background-color: #212121;
  position: fixed;
  box-shadow: 1px 1px 2px 2px #242424;
}
#margin {
  background-color: white;
  height: 35px;
  width: 100%;
}
#left_nav_bar {
  width: 15%;
  /* margin-left: 5%; */
  height: 70%;
  padding: 0;
  margin: 0px 0px 0px 2%;
  background: repeat;
  float: left;
}
#left_nav_bar img {
  border-radius: 50%;
  width: 18%;
  /* height: 80%; */
  float: left;
}
#left_nav_bar div {
  margin-left: 4%;

  width: 70%;
  /* float: left; */
  padding: 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  color: rgb(233, 233, 233);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: rgb(216, 216, 216);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 3px;
  background: repeat;
}
#mid_nav_bar {
  width: 45%;
  height: 73%;
  float: left;
  background: repeat;
  cursor: pointer;
  color: white;
}

#mid_nav_bar div {
  margin-left: 5px;
  cursor: pointer;
  float: left;
  width: 18%;
  height: 70%;
  font-size: 14px;
  font-family: sans-serif;
  margin-top: 11px;
  font-weight: bold;
  margin-right: 0%;
}
#mid_nav_bar div i {
  cursor: pointer;
}
#resources {
  float: right;
  margin-top: 6px;
  float: right;
  margin-top: 2px;
  padding-bottom: 5px;
  font-size: 13px;
  margin-right: 16px;
}
#product,
#platform {
  float: right;
  margin-top: 6px;
  margin-top: 2px;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 13px;
  margin-right: 30px;
}
#nav-signin {
  cursor: pointer;
}
#right_nav_bar {
  /* width: 30%;
  height: 73%; */
  float: right;
  padding: 0;
  margin: 0;
}
#right_nav_bar > i {
  width: 3%;
  height: 80%;
  font-size: 19px;
  float: left;
  padding-top: 14px;
}
#right_nav_bar div {
  height: 80%;
  font-size: 17px;
  float: left;
  font-family: sans-serif;
  margin-top: 14px;
}
#sigin_in {
  font-size: 15px;
  margin-right: 28px;
}
.tryFree {
  border: white 1px solid;
  color: white;
  width: 160px;
  margin-left: 5px;
  margin-right: 15px;
  font-weight: 600;
  font-size: 13px;
  height: 40px;
  margin-top: 3px;
  float: left;
}
.mid_box {
  width: 100%;
  height: 500px;
  background-color: black;
}
.left_mid_box {
  height: 70%;
  float: left;
  margin-top: 8%;
  margin-bottom: auto;
  width: 57%;
  background-color: black;
}
.left_mid_box_1 {
  width: 43%;
  height: 44%;
  background-color: #212121;
  margin-left: 3%;
  float: left;
  margin-top: 3%;
  border-radius: 5%;
}
.left_mid_box_1_1 {
  margin-left: 20px;
  color: #ec008c;

  margin-top: 20px;
  width: 60%;
  float: left;
  font-weight: bold;
}
.left_mid_box_1_2 {
  margin-left: 20px;
  color: red;
  width: 60%;

  margin-top: 7px;
  float: left;
  font-size: 25px;
  color: white;
}
.left_mid_box_1_3 {
  width: 60%;
  margin-left: 20px;
  color: red;

  margin-top: 9px;
  float: left;
  color: white;
}
.left_mid_box_1_4 {
  margin-left: 20px;
  color: red;

  margin-top: 9px;
  width: 39%;
  font-weight: bold;
  float: left;
  color: white;
}

.left_mid_box_1 img {
  clear: right;
  width: 30%;
  height: 60%;
  background-color: #212121;
}
.left_mid_box_1 i {
  font-size: 10px;
  color: #ec008c;
}
#right_mid_box {
  height: 70%;
  margin-top: 8%;
  width: 43%;
  float: left;
  background-color: black;
}
.right_mid_box_1 {
  margin-top: 50px;
  font-size: 18px;
  color: #ec008c;
  font-weight: 400;
  background-color: black;
}
.right_mid_box_2 {
  margin-top: 20px;
  font-size: 30px;
  color: #ec008c;
  font-weight: bold;
  color: white;
  width: 40%;
  background-color: black;
  text-align: left;
}
.right_mid_box_3 {
  margin-top: 20px;
  font-size: 17px;
  color: rgb(201, 201, 201);
  width: 90%;
  background-color: black;
  text-align: left;
}
.right_mid_box_4 i {
  font-size: 12px;
  color: #ec008c;
  background-color: black;
}
.right_mid_box_4 {
  margin-top: 20px;
  font-size: 20px;
  width: 90%;
  background-color: black;
  font-weight: bold;
  text-align: left;
  box-shadow: rgb(248, 248, 248);
  text-shadow: white;
}
.midOne {
  background-color: rgb(24, 24, 24);
}
.whatsNew > h6 {
  color: #e40084;
  letter-spacing: 1px;
  margin-left: 25px;
  padding-top: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}
h3 {
  color: #ffffff;
  font: bold;
  margin-left: 25px;
  font-size: 31px;
  font-family: sans-serif;
}
.largeMid {
  display: flex;
  max-width: 1400px;
  overflow: hidden;
}
.mdiv1 {
  background-color: rgb(34, 34, 34);
  width: 45%;
  border-radius: 10px 0px 0px 10px;
  margin-left: 20px;
  height: 463px;
  overflow: hidden;
}
.mdiv2 {
  width: 50%;
}
.mdiv1 > div {
  padding: 20px;
}
.colmid {
  display: grid;
  margin-top: 25px;
  margin-bottom: 80px;
  grid-template-columns: 32% 32% 32%;
  justify-content: center;
}
.col {
  display: flex;
  justify-content: center;
  height: 500px;
  margin: 4%;
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
  overflow: hidden;
}
.colImg {
  margin-top: 50px;
  margin-left: 40px;
  float: left;
}
div > h2 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  padding: 1.5%;
}
.colImg > p {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  padding: 1%;
}
.colImg > a {
  color: white;
  font-size: 17px;
  padding: 1%;
  font-family: sans-serif;
}
.slides {
  margin-top: 20px;
  background-color: black;
  height: auto;
  overflow: hidden;
}
.text > h5 {
  color: #e40084;
  letter-spacing: 2px;
  margin-left: 25px;
  padding-top: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.eachSlide {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.img_slide {
  height: 165px;
  overflow: hidden;
  background-color: gray;
  margin: 3%;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}
.img_slide > a > img {
  height: 100%;
  width: 100%;
}
.colomn > h4 {
  color: rgb(255, 180, 11);
  text-align: left;
  margin-left: 10px;
  padding-right: 10%;
  font-family: sans-serif;
  line-height: 150%;
  font-size: 16px;
  font-weight: bold;
}
.colomn p {
  margin-bottom: 100px;
  margin-left: 10px;
  color: white;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  text-align: start;
}

.vmVare {
  background: linear-gradient(
    100.37deg,
    rgb(236, 0, 139) 0%,
    rgb(241, 90, 34) 100%
  );
  height: 100%;
  float: left;
  width: 40%;
}
.lap {
  width: 60%;
  height: 100%;
  float: left;
}
.vmVare > div > h4 {
  font-size: 28px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  margin-left: 0px 0px 20px;
}
.vmtext {
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 20px;
}
.vmtext > p {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}
button {
  background-color: black;
  color: white;
  height: 60px;
  width: 50%;
  outline: none;
  border: none;
  font-size: medium;
  font-family: sans-serif;
  font-weight: 100;
  cursor: pointer;
}
button:hover {
  box-shadow: 1px 1px 7px 1px black;
}
/* footer css */

* {
  font-family: "Secular One", sans-serif;
}
body {
  background-color: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
}
.main-container {
  background-color: rgb(0, 0, 0);
  width: 100%;
}
#impact_books {
  /* background-color: black; */
  margin: 0px;
  background-size: cover;
  padding: 20px;
  background-image: url(https://www.pluralsight.com/content/pluralsight/en/jcr:content/main/generic_block_1609496607/image-res.img.52d84a6d-28f9-4da3-929e-9f14b44c023c.jpg);
  background-position: right center;
  background-repeat: no-repeat;
}

#impact_books > div h2,
.insights > div h2 {
  background-color: transparent;
  color: white;
  padding: 0px;
  margin: 0px;
  font-family: "Secular One", sans-serif;
  /* font-weight: 100 ; */
  font-size: 40px;
  margin-left: 5%;
}
#impact_books > div {
  background-color: transparent;
}
.img-container {
  background-color: transparent;
  margin-top: 20px;
}
.desc {
  margin: 0px;
  padding: 0px;
  width: 50%;
}
#impact_books > div > img {
  background-color: transparent;
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}
#impact_books > div p {
  background-color: transparent;
  padding: 0px;
  line-height: 1.4;
  letter-spacing: normal;
  margin-bottom: 20px;
  color: whitesmoke;

  margin-left: 5%;
  font-size: 17px;
}
.button {
  background-color: transparent;
  margin-bottom: 50px;
  width: 35%;
 
  margin-left: 1%;
  font-family: "Secular One", sans-serif;
}
.button1 {
  color: white;
  background: linear-gradient(145deg, #f05a28 0, #ec008c 100%);
  margin: 0px 20px 20px 0px;
  border: 0px;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  padding: 18px 32px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.button2 {
  color: white;
  cursor: pointer;
  background-color: transparent;
  padding: 18px 34px;
  letter-spacing: 0.5px;
  margin: 0px 20px 20px 0px;
  border-radius: 5px;
  border: 1px solid grey;
  font-weight: 600;
}
.insights {
  background-color: #181818;
  display: flex;
  color: white;
  padding: 60px;
  width: 100%;
}
.insights > .desc {
  background-color: transparent;
  margin-right: 30%;
}
.insights > div {
  margin: 40px 0px 0px 0px;
  padding: 0px;
}
.footer {
  background-color: #222222;
  padding-bottom: 50px;
  width: 100%;
}
.footer-container {
  background-color: #181818;
  display: flex;
  width: 100%;
  flex-direction: row;
  color: whitesmoke;
}
.footer-container > div {
  margin: 5% 5% 0px 5%;
  width: 10%;
}
.footer-head {
  font-size: 13px;

  /* font-weight: 700;  */
}
.footer-head + div {
  width: 210%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.footer-container > div div a {
  letter-spacing: normal;
  font-size: 70%;
  line-height: 40px;
  padding: 20px 0;
  color: #7c7c7d;
  text-decoration: none;
}
.footer-container > div div a:hover {
  color: white;
}
a > img {
  height: 34px;
  width: 34px;
}
.footer-last-div {
  display: flex;
  font-size: 12px;
  flex-direction: row;
  background-color: #222222;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
  border-top: 1px solid #363636;
}
.footer-last-div {
  padding-top: 40px;
}
.connect {
  margin-top: 34px;
}
.connect > #terms-of-use,
.connect > #privacy-policy {
  margin-right: 40px;
  /* margin-top: 40px; */
}
.connect > span > a img {
  height: 13px;
  /* margin-top: 30px; */
}
.copyright-content {
  display: flex;
  margin: 30px 0px 0px 0px;
}
.copyright-content > span > a img {
  height: 34px;
  width: 34px;
}
.copyright-content > div {
  margin-top: 10px;
}
.copyright-content > div > span {
  margin: 0px;
  margin-top: 0px;
  margin-left: 30px;
  color: #7c7c7d;
}
.connect a {
  text-decoration: none;
  color: #e6e6e6;
}

/* signin page */

#main-container {
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
}

#left-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #0d0f12 !important;
  height: 100vh;
}

.signin {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: auto;
  justify-content: center;
  box-sizing: inherit;
}
.signin > div > img {
  width: 303px;
}
.signin-form {
  margin-top: 30px;
  color: white;
  width: 60%;
}
.signin-form > div input {
  display: flex;
  background-color: #0d0f12;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  width: 100%;
  color: white;
  font-size: 20px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 24px;
}
.signin-form > div {
  margin-top: 40px;
}
.signin-form > div > label {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.btn1-signin {
  width: 100%;
  color: #f2f8fb;
  background: #0074ab;
  margin-top: 30px;
  font-size: 16px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}
.signin-links {
  margin-top: 30px;
}
.signin-links a {
  color: #2ea0d6;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
}
.signin-links > a:hover {
  color: #0b73a3;
  text-decoration: underline;
}
.bar {
  width: 360px;
  margin-top: 30px;
  background-color: #313335 !important;
  height: 2px;
  border: 0px;
  padding: 0;
}
footer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: #a1a1a3;
  line-height: 1.7;
  letter-spacing: 0.035em;
  font-size: 12px;
  margin-bottom: 15px;
}
footer > div a {
  color: #a1a1a3;
  margin: 8px;
}
.btn2-signin {
  width: 60%;
  height: 40px;
  border: 0;
  color: #f4f4f5;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #2d3138 !important;
}
#right-side {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 60%;
  background-image: url(https://www.pluralsight.com/content/dam/pluralsight2/login/bg-gtm-2020.png);
  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;
}

#left-side-up-img {
  margin: 120px 0px 0px 80px;
  padding: 0px;
  top: 0px;
  margin-bottom: 150px;
}
#left-side-up-img > img {
  display: flex;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  background: transparent;
  padding-bottom: 40px;
  align-self: inherit;
}
#right-side-down-img {
  position: absolute;
  right: 40px;
  bottom: 40px;
  text-align: center;
}

#right-side-down-img > img {
  max-width: 150px;
}

#try-for-free {
  margin-bottom: 0%;
  margin-right: 40%;
  padding: 12px 80px;
  min-width: unset;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  background: linear-gradient(to right, #f05a28, #ec008c, #f05a28);
  color: #fff;
  text-decoration: none;
}

/* forgotPassword */

#forgot-password {
  color: hsla(0, 0%, 100%, 0.95);
  margin-top: 0px;
  width: 23%;
  margin-left: 40%;
  letter-spacing: 0.025em;
}
#forgot-password > div > h1 {
  font-weight: 200;
  font-size: 2.75rem;
  line-height: 1.4;
  margin-bottom: 40px;
  letter-spacing: 0.025em;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}
#forgot-password > div > p {
  line-height: 1.4;
  letter-spacing: 0.025em;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: left;
}
#forgot-passwd-image {
  height: 80px;
  margin-top: 10%;
  font-size: 14px;
  margin-bottom: 60px;
}
#forgot-passwd-div > input {
  width: 300px;
  border-radius: 3px;
}
#forgot-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
}
#forgot-passwd-div > label {
  display: flex;
  color: hsla(0, 0%, 100%, 0.95);
  padding-bottom: 0px;
  font-size: 16px;
  margin: 0px;
  text-align: left !important;
}
#forgot-passwd-div > button {
  width: 310px;
  background: #006395;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  cursor: pointer;
  color: hsla(0, 0%, 100%, 0.95);
  font-size: 16px;
  font-weight: 500;
  border: 0;
  margin-bottom: 0px;
  border-radius: 3px;
  letter-spacing: 0.01em;
  padding: 10px 16px;
  height: 40px;
}
#forgot-passwd-div > button:hover {
  background-color: #084d70;
}
#forgot-passwd-form {
  margin-top: 0px !important;
}
#forgot-passwd-div > p {
  /* border: 2px solid red; */
  color: hsla(0, 0%, 100%, 0.95);
  width: 250px;
  line-height: 1.6;
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.025em;
}
#forgot-passwd-div > p > a {
  letter-spacing: 0.025em;
  font-family: inherit;
  font-size: 1rem;
  color: #2ea0d6;
  text-decoration: none;
}

/*css for free_trial.html*/
#free-trial-body {
  background-color: #181818;
}
.top-header {
  background-image: url(https://www.pluralsight.com/content/pluralsight/en/pricing/free-trial/jcr:content/main/generic_block/image-res.img.2cd105ce-90cf-442a-a2bc-2e1f406a7e2e.jpg);
  background-size: cover;
  text-align: center;
  font-family: inherit;
  padding: 20px;
  padding-bottom: 30px;
}
.top-header h6 {
  font-size: 15px;
  letter-spacing: 1px;
  color: #e40084;
}
#top-h6 {
  margin-top: 50px;
}
.top-header h1 {
  font-size: 56px;
  line-height: 100%;
}
.top-header > div > p {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: normal;
}
.top-header + div {
  text-align: center;
}
.top-header + div > h3 {
  font-size: 20px;
}
.body-container {
  margin-top: 100px;
  height: 100%;
}
.trial-includes-container {
  display: flex;
  flex-direction: row;
  /* margin-top: 40px; */
  margin-bottom: 50px;
}
.trial-includes-container > div {
  width: 100%;
  margin: 20px 20px 0px 20px;
}
.trial-includes {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}
.trial-includes > img {
  max-height: 30px;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 0px;
}
.trial-includes > div > p {
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
}
.trial-details > p > span {
  margin-top: 15px;
  color: #e80a89;
  text-align: left;
}
.trial-details > p {
  text-align: left;
}
.subscription-details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#plan-details {
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 50px;
}
.plan-div {
  width: 40%;
  height: 350px;
  float: left;
  line-height: 1.5;
  text-align: center;
  padding: 30px 20px;
  background: linear-gradient(180deg, #181818 0%, #222222 100%);
  margin-left: 5px;
  text-align: center;
  background-color: #1b1b1b;
}
#subscription-details:first-child {
  overflow: hidden;
  box-shadow: 4px 9px 4px 6px rgba(0, 0, 0, 0.2);
}
.plan-div:first-child {
  margin-left: 7%;
  margin-top: 2.9%;
}
.plan-div > h1 {
  font-size: 36px;
  line-height: 1.4;
  margin: 0px;
  padding: 0px;
}
.plan-div > p {
  text-align: center;
  font-size: 17px;
  padding: 0 12%;
  margin-bottom: 40px;
}
.plan-div > div > a {
  text-decoration: none;
  font-weight: 1000;
  max-width: 100%;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #f05a28, #ec008c, #f05a28);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  background: linear-gradient(145deg, #f05a28 0, #ec008c 100%);
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 18px 34px;
}
.plan-div > div > h6 {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 40px;
}
.opportunity {
  margin-right: 13% !important;
  height: 40px !important;
  width: 40% !important;
  background-color: #f7a614 !important;
  text-align: center !important;
  float: right;
}
.opportunity > div > h4 {
  font-weight: 800 !important;
  color: black;
  margin: 8px 0px 0px 0px !important;
}
#plan-details {
  margin-top: 90px;
  height: 100%;
}
#partners {
  background-image: url(https://www.pluralsight.com/content/dam/pluralsight2/product/v2/skills-bg-cs.jpg);
  clear: both;
  text-align: center;
  padding-bottom: 100px;
}
#partners > div > h3 {
  font-size: 42px;
  text-align: center;
  line-height: 100%;
}
#partners > div > div > img {
  margin-left: 80px;
}
#customer-review {
  margin-top: 70px;
}
#customer-review > a {
  text-decoration: none;
  font-weight: 1000;
}
#customer-review > a > span {
  margin-left: 5px;
  color: #ec008c;
}
.price-table {
  clear: both;
  margin-top: 30px;
}
.price-table > table > tbody > tr > td:first-child,
.price-table > table > thead > tr > td:first-child {
  width: 39%;
  padding: 10px;
  padding-left: 20px;

  font-size: 15px;
  text-align: left;
}
.price-table > table > tbody > tr > td:first-child > h4 {
  font-weight: 100 !important;
  font-size: 15px;
}
.price-table > table > tbody > tr > td {
  text-align: center;
  width: 210px;
  /* font-weight: 2000; */
  font-size: 15px;
  /* border-bottom: 1px solid #363636; */
  border-right: 1px solid #363636;
}
.price-table > table > thead > tr > td {
  text-align: center;
}
.price-table > table > thead > tr > td > h4 {
  color: #006395;
  font-size: 17px;
}
.price-table > table > tbody > tr > td > h4,
.price-table > table > thead > tr > td > h4 {
  margin: 0;
  padding: 0;
}
.price-table > table > tbody > tr > td > h4 {
  font-weight: 800;
  font-size: 18px;
}
.price-table > table > tbody > tr > td > p {
  font-size: 25px;
}
.price-table > table > thead > tr > td > p {
  font-size: 28px;
  font-weight: 200;
  margin: 0;
  padding: 10px;
}
.price-table > table > tbody > tr > td:last-child {
  width: 250px !important;
}
.price-table > table > tbody > tr:nth-child(2n) {
  background-color: #1c1c1a;
}
tr > td > img {
  height: 20px;
}
.carousel-cell {
  width: 28%;
  height: 230px;
}
.twitter-tweet {
  width: 90% !important;
}

.carousel-cell:before {
  display: block;
}
#upper_twitter p {
  text-align: center;
  color: #e40084 !important;
  font-weight: bolder;
  margin-top: 40px;
}
#upper_twitter h3 {
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 60px;
}

/* nav down */
#nav_down {
  width: 96%;
  height: 380px;
  background-color: rgb(19, 19, 19);
  margin-left: 2%;
  display: none;
  position: absolute;
  cursor: pointer;
  margin-top: 80px;
}
#nav_down_left {
  width: 22%;
  height: 76%;
  padding: 20px;
  margin-left: 20px;
  background-color: rgb(19, 19, 19);
  float: left;
}
#nav_down_left ul {
  list-style: none;
}

#nav_down_left li {
  margin-top: 20px;
  font-family: sans-serif;
}

#nav_down_left li span {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
#nav_down_left li img {
  width: 22px;
}
#l_W {
  color: rgb(201, 201, 201);
  margin-bottom: 20px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
}
#nav_down_right {
  width: 70%;
  height: 70%;
  background-color: rgb(19, 19, 19);
  float: left;
  padding-top: 20px;
}
#nav_down_right_1 {
  color: white;
  background-color: rgb(19, 19, 19);
  width: 34%;
  float: left;
}
#nav_down_right_1 ul {
  list-style: none;
}
#nav_down_right_1 li {
  margin-top: 15px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 17px;
}
#nav_down_right_2 {
  color: white;
  background-color: rgb(19, 19, 19);
  width: 66%;
  float: right;
  height: 93%;
  padding-top: 20px;
}
#nav_down_right_2_box {
  width: 46%;
  height: 24%;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  margin-top: 25px;
  float: left;
  margin-left: 15px;
}
#nav_down_right_2_box img {
  width: 35px;
  margin-top: 9px;
  float: left;
}
#nav_down_right_2_box p {
  margin-top: 9px;
  float: left;
  font-size: 12px;
  font-family: sans-serif;
  margin-left: 19px;
  margin-bottom: 2px;
}

#nav_down_box_c {
  float: left;
  margin-left: 19px;
  background-color: rgb(34, 34, 34);
  width: 70%;
  height: 30%;
}
#nav_down_box_c span {
  float: left;
  width: 9px;
  color: white;
  margin-right: 2px;
  margin-top: 2px;
  font-size: 12px;
}
#nav_down_box_c p {
  float: left;
  width: 9px;
  margin-right: 5px;
  color: rgb(124, 124, 124);
  width: 30%;
  margin-top: 2px;
  margin-left: 0px;
}
#nav_down_box_c img {
  float: left;
  color: rgb(124, 124, 124);
  width: 7%;
  margin-top: 2px;
  margin-left: -19px;
}

#bottom_nav_bar {
  clear: both;
  margin-top: 16px;
}
#bottom_nav_bar span {
  font-size: 16px;
  margin-left: 35px;
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  height: 30px;
}

/* nav_down_1 */

#payment-container {
  display: flex;

  flex-direction: row;
}
#account-details {
  padding-bottom: 30px;
  margin-top: 0;
  padding-top: 0 !important;
}
#account-details,
#order-summary {
  /* display: flex;
  flex-direction: row; */
  background-color: #222323;
  margin-left: 25%;
}
#account-details > div {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  padding-right: 30px;
}
#number {
  margin-top: 30px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  text-align: center;
  padding: 10px;
  background-color: #363636;
}
#about {
  margin-left: 0px;
  margin-right: 130px;
}
#account-details > div {
  margin-top: 20px;
}
#account-details > div > div > p {
  margin: 0px 0px 5px 0px;
  padding: 0;
  font-size: 15px;
}
#account-details > div > div > input {
  border-radius: 3px;
  width: 300px;
  height: 40px;
  border: 0;
  background-color: #363636;
}
#account-details > div > div > div > h6 {
  margin-left: 70px;
  margin-top: 40px;
}
#account-details > div > div > div > h6 > span > a {
  color: #2ea1d6;
  text-decoration: none;
}
#account-details > div > div > select {
  border: 0;
  border-radius: 3px;
  height: 40px;
  background-color: #363636;
  width: 100%;
}
#account-details > div > span {
  margin-top: 4px;
  margin-left: 8px;
  font-size: 10px;
}
#select-residence {
  width: 300px;
}
.right-input {
  margin-left: 60px;
}
#account-details > div > button {
  text-decoration: none;
  border: 0px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  height: 50px;
  border-radius: 3px;
  background-color: #1c84bd;
}
#payment-container {
  padding-bottom: 40px;
}
#account-details > p {
  margin-left: 35px;
}
#account-details > div > div > img {
  height: 50px;
  width: 50px;
}
#payment-card-img {
  margin-left: 57%;
}

/* payment page */
#account-details > div > div > span > select {
  width: 145px;
  border-radius: 3px;
  height: 40px;
  border: 0px;
  background-color: #363636;
}
#account-details > div > div > span > select > option:first-child {
  font-family: 70px;
}

/* success payment */

#animation {
  margin-left: 28%;
}
#animation + div {
  text-align: center;
}
#animation + div > a {
  text-decoration: none;
  color: #ec008c;
  font-weight: 1000;
  font-size: 15px;
}
#animation + div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#back-to-pricing {
  height: 100%;
  width: 200px;
  margin-top: 8%;
  text-align: left;
  margin-left: 25%;
}
#back-to-pricing > a {
  text-decoration: none;
}
#back-to-pricing > a > h5 {
  color: #2ea0d6;
}
#back-to-pricing > a > h5:hover {
  transform: scale(1.1);
}

/* #nav_down_1 { */
#nav_down_1 {
  width: 45%;
  height: 230px;
  margin-top: 80px;
  background-color: rgb(34, 34, 34);
  display: none;
  position: absolute;
  color: white;
  font-family: sans-serif;
  margin-left: 24%;
}
#nav_down_1 ul {
  list-style: none;
}
#nav_down_1 img {
  width: 110px;
  height: 26px;
  margin-top: 30px;
}
#nav_down_1 li {
  font-size: 16px;
  margin-top: 9px;
  /* font-weight: bold; */
}
#nav_down_1_left {
  width: 49%;
  height: 100%;
  float: left;
  background-color: rgb(34, 34, 34);
}
#nav_down_1_right {
  width: 49%;
  height: 100%;
  float: left;
  background-color: rgb(34, 34, 34);
}
#nav_down_1_left_down li {
  font-weight: bold;
  font-size: 20px;
}

/* nav down for sign */

#nav_down_1_sign {
  height: 100px;
  margin-left: 60%;
  background-color: rgb(10, 9, 9);
  border-radius: 5px;
  color: white;
  margin-top: 100px;
  font-family: sans-serif;
  display: none;
  cursor: pointer;
  position: absolute;
}
#nav_down_1_sign ul {
  list-style: none;
}
#nav_down_1_sign img {
  width: 110px;
  height: 22px;
  margin-top: 10px;
}
#nav_down_1_sign li {
  font-size: 16px;
  margin-top: 9px;
}
#nav_down_1_left_sign {
  width: 230px;
  height: 120px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  float: left;
  background-color: rgb(10, 9, 9);
}
@media (max-width: 730px) {
  #mid_nav_bar,
  #right_nav_bar {
    display: none;
  }
  #left_nav_bar {
    width: 25%;
  }
  #left_nav_bar img {
    border-radius: 50%;
    width: 20%;
    /* height: 80%; */
    float: left;
    margin-right: 20px;
  }
  #left_nav_bar div {
    margin-left: 50px;
  }
  .mid_box {
    height: 910px;
   
  }
  .left_mid_box {
    width: 100%;
    height: 90%;
    overflow: hidden;
    clear: both;
  }
  #right_mid_box {
    width: 100%;
    padding-left: 3%;
    height: 500px;
    clear: both;
    margin-top: 0px;
  }
  .left_mid_box_1 img {
    clear: right;
    width: 20%;

    height: 30%;
    background-color: #212121;
  }
  .largeMid {
    display: block;
  
   
  }
  .left_mid_box_1 {
    width: 93%;
    height: 23%;
  }
  .mdiv1 {
    width: 90%;
    margin-bottom: 30px;
  border-radius: 10px;
  }
  .mdiv2 {
    float: none;
    width: 50%;
  }
  .colmid {
    display: grid;
    margin-top: 25px;
    margin-bottom: 80px;
    grid-template-columns: 100%;
  }

  .eachSlide {
    display: grid;
    grid-template-columns: 100%;
  }
  #h_box_1_1 {
    width: 70%;
    
    font-size: 230%;
    margin-left:45%;
    text-align: center;
    float: left;
  }
  #slidshow {
    font-size: 9px;
  }
  #h_box_1 {
    width: 80%;
  }
  #h_box {
    background-color: rgb(122, 0, 0);
    background-image: url(https://www.pluralsight.com/content/pluralsight/en/jcr:content/main/generic_block_copy_c_1058486430/image-res.img.3716d16d-f7af-4e66-9052-9a1a90108cf3.jpg);
    width: 100%;
    height: 500px;
    margin-top: 85px;
    background-position: right ;
    
  }
  #h_box_1 span {
    width: 80%;
    margin-top: -30px;
    margin-left: 50%;
   
  }
  #h_box_1_2{
    margin-left: 50%;
  }
  .carousel-cell {
    width: 85%;
    height: 230px;
  }
 .copyright-content{
   display: none;
 }
 .footer-container{
   display: none;
 }
}
